<md-card>
	<h1>Heater</h1>
	<p>
		Free website analytics and visitors tracking system. Heater is tracking every movement, scroll and click of every visitor. Even in real-time! You can play every visitor session or analyse parts of your website just by inserting piece of code into your website.
	</p>
</md-card>

<md-card>
	<h1>Features</h1>
	<md-tab-group>
		<md-tab label="Live tracking">
			Track your visitors in real-time!
		</md-tab>
		<md-tab label="Playable user sessions">
			You can play, see and analyse everything your visitors do.
		</md-tab>
		<md-tab label="Heat maps">
			Visualise most important parts of your website!
		</md-tab>
		<md-tab label="Reports">
			Display all sessions by chosen visitor.
		</md-tab>
		<md-tab label="UI analyser">
			Analyse your user interface and improve it.
		</md-tab>
	</md-tab-group>
</md-card>

<md-card>
	<h1>How does it work?</h1>
	<p>
		It's simple! First of all you have to <a routerLink="/register" md-button color="primary">register</a> a new account.
		Next you have to <a routerLink="/websites/add" md-button color="primary">add</a> a new website into your account.
		The last step is inserting integration script on every page of your website you want to track. You can find it in administration by clicking on integration tile.
	</p>
</md-card>

<md-card>
	<h1>Open source</h1>
	<p>
		Code is available on <a href="https://github.com/fant0m/heater" target="_blank" md-button color="primary">Github</a> for everyone and for free! Feel free to customise and install it on your own servers. If you have any feedback feel free to contact me. Application is using MEAN Stack [with Angular (2)] and socket.io for real-time features. 
	</p>
</md-card>

<md-card>
	<h1>Contact</h1>
	<p>Do you have any questions? You can contact me at toms.huna[at]gmail.com</p>
</md-card>